button{
    position: relative;
    cursor: default;
    overflow: hidden;

    transition: width 0.4s ease, height 0.4s ease;
}
button::before{
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgb(241, 103, 103), transparent);
    transform: translate(-50%,-50%);
    transition: width 0.2s ease, height 0.2s ease;
}

button div{
    overflow:hidden;
    position: relative;
    width: var(--sizeX)px;
    height: var(--sizeY)px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover:before {
    --size: 200px;
}

.hidden{
    transform: translate(110%,0%);
    z-index: -1;
    transition: transform 0.5s, z-index 0.5s step-start;
}
.shown{

    z-index: 1;
    transition: transform 0.5s, z-index 0s step-end 0.5s;
}