*{
	font-family: 'Fraunces', serif;
	color: #a33838;
}

body{
	margin: 0;
	background-color: hsl(23 66% 70% / 1);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculadora{
	--shadow: hsl(55 40% 71% / 1);
	display: grid;
	grid-template-columns: repeat(4, 75px);
	grid-template-rows: 160px repeat(5, 45px);
	background-color: #fff8b2;
	border-radius: 30px 10px;
	padding: 25px;
	box-shadow: 5px 5px var(--shadow),
	            10px 10px var(--shadow),
	            15px 15px var(--shadow),
	            20px 20px var(--shadow);
}

button{
	user-select:none;
	cursor: pointer;
	margin: 5px;
	padding: 0;
	border-radius: 12px 4px;
	font-size: 1.5em;
	border: none;
	box-shadow: -5px 10px 5px 3px #09ff31;
}

.numero{
	background-color: #ffdead;
	box-shadow: 3px 3px 0px 0px hsl(36 75% 75% / 1),
	            1.5px 1.5px 0px 0px hsl(36 75% 75%);
}

.operador{
	background-color: #f1b880;
	box-shadow: 3px 3px 0px 0px hsl(30 72% 61% / 1),
		        1.5px 1.5px 0px 0px hsl(30 72% 61%);

}

.del{
	background-color: #fe7474;
	box-shadow: 3px 3px 0px 0px hsl(0 62% 63% / 1),
		        1.5px 1.5px 0px 0px hsl(0 62% 63%);

}

button:active{
	transform: translate(3px,3px);
	box-shadow: none;
	transition: transform 0.05s ease-out, box-shadow 0.07s ease-out;
}

button:focus{
	outline: none;
}

.display{
	grid-column: 1 / -1;
	padding: 16px;
	display: flex;
	margin: 10px 10px 20px;
	flex-direction: column;
	align-items: flex-end;
	background-color: hsl(43 93% 95% / 1);
	border-radius: 30px 10px;
	text-align: right;
	justify-content: space-between;
	word-break: break-all;
	box-shadow: 0px 0px 0px 10px hsl(42 59% 83% / 1);
}

.col-2 {
	grid-column: span 2;
}

#valor-actual {
	font-size: 1.5em;
}

#valor-anterior {
	font-size: 2em;
}